@import ../../../theme

hr
    color: $primary-orange

.comment-body
    display: flex
    margin-top: 10px
    flex-wrap: wrap

.comment-author
    font-weight: 600
    font-size: 14px
    margin: 0
    float: left
    color: #505050

.comment-date
    float: right
    font-size: 14px
    color: #505050

.comment-header
    width: 80%
    margin: auto 0

.comment-content
    margin: 0
    margin-top: 5px
    font-size: 14px
    display: block
    color: #505050
    margin-left: 62px

.comment-profileUrl-container
    height: 100%

.comment-profileUrl
    border-radius: 50%
    width: 48px
    height: 48px
    margin: 0 15px
    margin-left: 0


@media screen and ( min-width: 768px )
    .comment-author
        font-size: 20px
        font-weight: 500

    .comment-header
        width: 85%

    .comment-content
        font-size: 16px
    