@import ../../theme
.article-page
    margin: 0 auto
    width: 90vw

.article-title
    color: $primary-orange
    font-size: 24px
    font-weight: 600
    margin-bottom: 0
    margin-top: 20px

.article-content
    margin-top: 20px
    font-size: 16px
    font-weight: 400
    margin-bottom: 15px

.comment-submission-form
    display: flex
    justify-content: flex-start
    align-items: center
    width: 100%

.new-comment-input
    border: none
    background-color: rgba(250, 100, 0, 0.10)
    height: 32px
    font-size: 14px
    font-family: $default-font
    padding-left: 10px
    padding-right: 10px
    // width: 60vw
    width: 100%
    margin-right: 10px

    &::placeholder
        color: rgba(80, 80, 80, 0.5)

.comment-submission
    margin: 0 !important

@media screen and ( max-width: 400px )
    .comment-submission-form
        flex-wrap: wrap
    
    .comment-submission
        margin-top: 5px !important

@media screen and ( min-width: $med-break )
    .article-page
        margin: 0 auto
        width: 60vw

    .article-title
        font-size: 42px

    .article-content
        font-size: 20px
