@import ../../theme
.article-page
    margin: 0 auto
    width: 90vw

.article-title
    color: $primary-orange
    font-size: 24px
    font-weight: 600
    margin-bottom: 0

.article-content
    margin-top: 20px
    font-size: 16px
    font-weight: 400
