@import ../../theme
.article-page
    margin: 0 auto
    width: 90vw

hr
    color: $primary-orange
    margin-top: 15px

.article-title
    color: $primary-orange
    font-size: 24px
    font-weight: 600
    margin-bottom: 0