.home-left-panel-links-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin-top: 20px

.home-page
    padding: 0 5vw

.home-left-panel
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    height: 20vh
    margin-left: 5vw
    margin-top: 50px

.home-panel-link
    display: block
    width: 51%
    font-size: 24px
    font-weight: 600
    text-decoration: none
    color: #A0A0A0

.home-panel-link-active
    @extend .home-panel-link
    color: black

@media screen and ( min-width: 768px )
    .home-page
        width: 100%
        padding: 0
        display: grid
        grid-template-columns: 0.7fr 1fr 0.7fr
        grid-template-rows: 1fr
        gap: 0px 0px
