@import ../../theme

.home-left-panel-links-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin-top: 20px

.home-page
    padding: 0 5vw

.home-left-panel
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    height: 20vh
    margin-left: 5vw
    margin-top: 50px

.home-panel-link
    display: block
    width: 51%
    font-size: 24px
    font-weight: 600
    text-decoration: none
    color: #A0A0A0

.home-panel-link-active
    @extend .home-panel-link
    color: black

.home-panel-CTA
    @extend .home-panel-link
    font-family: $default-font

    color: #fff
    font-weight: 600
    font-size: 18px
    border: none
    height: 36px
    width: 100%
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    margin-top: 10px

    background: $primary-orange
    border-radius: 4px

.home-panel-logout-container
    width: 51%

.home-panel-secondary-CTA
    @extend .home-panel-CTA
    background-color: white
    border: 2px solid $primary-orange
    color: $primary-orange

.home-panel-logout
    @extend .home-panel-link
    cursor: pointer
    color: $logout-red
    margin: 0

@media screen and ( min-width: 768px )
    .home-page
        width: 100%
        padding: 0
        display: grid
        grid-template-columns: 0.7fr 1fr 0.7fr
        grid-template-rows: 1fr
        gap: 0px 0px
