@import ../../theme

.login-page
    padding: 0 20px

.login-form
    margin: 0 auto

.login-input-field-container
    display: flex
    justify-content: flex-start
    align-items: center

.login-input-field
    width: 100%
    background-color: rgba(250, 100, 0, 0.1)
    border: none
    margin-top: 10px
    height: 30px
    border-radius: 1px
    font-size: 14px
    padding-left: 13px
    padding-right: 13px
    font-family: "Poppins", sans-serif

.login-subinfo
    font-size: 14px
    color: $grey
    margin-bottom: 20px

    a
        text-decoration: underline
        color: $grey

.login-info
    font-weight: 600
    color: $primary-orange
    margin: 40px 0
    font-size: 36px
    width: 100%
    text-align: center

.login-btn
    font-family: $default-font

    text-decoration: none
    border: none
    width: 100%
    color: white
    display: block
    margin: 40px 10px 0 0

    background: $primary-orange
    border-radius: 4px
    font-weight: 500
    height: 40px
    font-size: 18px

    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.15)

.fb-btn
    @extend .login-btn
    display: flex
    justify-content: center
    align-items: center
    background: #1A77F2

.google-btn
    @extend .login-btn
    display: flex
    justify-content: center
    align-items: center
    background: white
    color: black

.google-logo
    margin-right: 20px

.remember-container
    margin-top: 15px
    display: flex

.remember
    font-size: 12px
    margin-left: 5px
