@import ../../theme

.new-article-text-area
    margin: 25px
    background-color: $cream
    margin-top: 24px
    flex-wrap: wrap
    padding: 14px
    height: 70vh

.new-article-title-input
    width: 100%
    border: none
    background-color: $cream
    font-size: 18px
    font-family: $default-font
    color: black

    &::placeholder
        color: rgba(0, 0, 0, 0.5)

.new-article-content-input
    width: 100%
    border: none
    background-color: $cream
    font-size: 16px
    height: 89%

    font-family: $default-font
    font-weight: normal
    color: black
    resize: vertical

    &::placeholder
        color: rgba(0, 0, 0, 0.5)

.new-article-custom-separator
    width: 100%
    color: #A7A7A7
    background-color: #A7A7A7
    height: 1px
    border: none
    margin-top: 10px
    margin-bottom: 20px

.confirmation-btn
    font-family: $default-font

    text-decoration: none
    border: none
    color: white
    display: inline
    margin: 20px 10px 0 0

    background: $primary-orange
    border-radius: 4px
    font-weight: 500
    height: 30px
    font-size: 14px
    padding-left: 15px
    padding-right: 15px

.negative-btn
    @extend .confirmation-btn
    background-color: $primary-cream
    color: $grey
    border: 1px solid $grey
