@import ../../theme

.settings-body
    padding: 0 20px

.settings-style-customisation-title
    color: $primary-orange
    font-size: 27px
    font-weight: 700

.settings-style-customisation-subtitle
    font-size: 21px
    font-weight: 500
    margin-bottom: 0

.settings-radio-input
    background-color: #FFEEDF
    border-radius: 5px
    padding: 10px
    width: 120px
    min-width: 120px
    margin: 10px
    display: inline-block

.settings-radio-container
    overflow-x: auto
    white-space: nowrap

.settings-slider-selector-container
    margin-top: 20px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

.settings-slider-selector-text
    font-size: 16px

.settings-button-selector-container
    margin-top: 20px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

.settings-button-selector-button-connected
    border: 2px solid #a4a4a4
    color: #a4a4a4
    font-weight: 600
    font-family: $default-font
    padding-top: 2px
    padding-bottom: 2px
    background: none
    border-radius: 3px

.settings-button-selector-button-disconnected
    @extend .settings-button-selector-button-connected
    border: 2px solid $primary-orange
    color: $primary-orange
