.post-body
    background-color: white
    width: 75%
    border-radius: 5px
    padding: 10px 20px
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10)

    min-height: 86px
    max-height: 150px

    margin: 20px auto

.post-title
    margin: 0
    font-size: 16px
    font-weight: 500
    font-family: 'Poppins', sans-serif

.post-title-img
    display: flex
    justify-content: space-between
    align-items: center

.post-img
    margin-right: 12px
    min-width: 78px
    max-width: 78px

.post-author
    font-size: 10px
