@import ../../../theme

.post-body
    background-color: white
    border-radius: 5px
    padding: 10px 20px
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1)

    min-height: 86px
    max-height: 150px

    margin: 20px auto
    padding: 5px 20px

    display: flex
    align-items: center

.post-title
    margin: 0
    font-size: 16px
    font-weight: 600
    font-family: 'Poppins', sans-serif
    text-decoration: none
    color: #000
    margin-left: 20px

.post-img
    margin-right: 12px
    position: relative
    left: 5px
    width: 78px

.post-author
    font-size: 10px

@media screen and ( min-width: $med-break )
    .post-body
        width: 50vw
        min-height: 150px
        max-height: 250px

    .post-title
        font-weight: bold
        font-size: 24px
        line-height: 30px

    .post-img
        width: 150px

    .post-author
        font-size: 16px
        font-weight: normal

    .navbar-new-post
        filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.1))
        border: none
        background: white
        width: 180px
        height: 45px
        font-size: 24px
        font-weight: 500
        color: $primary-orange
        border-radius: 5px
        font-family: $default-font
