@import "../../../theme"

.side-bar
    background-color: $primary-cream
    width: 40vw
    height: 100vh
    position: absolute
    top: 55px
    left: 0

    box-shadow: 4px 0px 24px 0px rgba(0, 0, 0, 0.1)

    padding: 25px

.side-bar-ham
    margin: 15px
    margin-top: 20px

.side-bar-content
    position: absolute
    bottom: 30vh

.side-bar-CTA
    width: 148px
    height: 36px

    font-family: $default-font

    color: #fff
    font-weight: 600
    font-size: 18px
    border: none

    margin-top: 10px

    background: $primary-orange
    border-radius: 4px

.side-bar-secondary-CTA
    @extend .side-bar-CTA
    color: $primary-orange
    border: 2px solid $primary-orange
    background: #fff

.side-bar-item
    color: #A0A0A0
    font-weight: 600
    text-decoration: none
    font-size: 24px
    display: block
    margin: 10px 0

.side-bar-item.active
    @extend .side-bar-item
    color: #000

.side-bar-item.highlighted
    @extend .side-bar-item
    color: $primary-orange
