@import "../../../theme"

.side-bar-click-detector
    width: 100vw
    position: absolute
    top: 55px
    left: 0
    height: 100vh

    z-index: 1

.side-bar
    background-color: $primary-cream
    width: 40vw
    height: 100vh
    position: absolute
    top: 55px
    left: 0

    box-shadow: 4px 0px 24px 0px rgba(0, 0, 0, 0.1)

    padding: 25px
    z-index: 2

.side-bar-ham
    margin: 15px
    margin-top: 20px

.side-bar-content
    position: absolute
    bottom: 30vh
    z-index: 2

.side-bar-CTA
    font-family: $default-font

    color: #fff
    font-weight: 600
    font-size: 18px
    border: none
    height: 36px
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    margin-top: 10px

    background: $primary-orange
    border-radius: 4px

.side-bar-secondary-CTA
    @extend .side-bar-CTA
    color: $primary-orange
    border: 2px solid $primary-orange
    background: #fff

.side-bar-logout
    font-weight: 600
    font-size: 24px
    color: $logout-red
    text-decoration: none

.side-bar-profile-container
    position: absolute
    top: 5vh
    left: 0
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    flex-wrap: wrap

.side-bar-profileUrl
    border-radius: 50%
    margin: 0 auto
    display: block
    width: 50%
    height: 50%

.side-bar-profile-info-container
    text-align: center
    font-weight: 600

.side-bar-profile-handle
    margin-top: 0
    font-size: 14px

.side-bar-profile-name
    margin-bottom: 0
    font-size: 18px

.side-bar-profile-nibbles
    margin-left: 20px

.side-bar-profile-nibble-logo
    margin-right: 3px

.side-bar-item
    color: #A0A0A0
    font-weight: 600
    text-decoration: none
    font-size: 24px
    display: block
    margin: 10px 0

.side-bar-item.active
    @extend .side-bar-item
    color: #000

.side-bar-item.highlighted
    @extend .side-bar-item
    color: $primary-orange
